.banner{
    background-image: url(../img/alumnos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 150px;
}
#contenido-nosotros{
    grid-template-columns: 400px;
    grid-template-rows: 450px;
    align-content: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

.profesores{
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    grid-template-rows: 25%;
    grid-template-columns: 100%;
    width: 100%;
    min-width: 450px;
    text-align: center;
}
.profe{
    padding: 20px;

}
h4,h3,h2,h5{
    font-family: "oswald";
    margin-top:0px ;
    text-align: center;
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight:600 ;
}

.redes{
    display: grid;
    justify-content: center;
    grid-template-columns: 50%;

}
.redes ul li a span{
    font-family: "oswald";
    color: $dark;
    padding-top: 15px;
    margin:10px
}
.datos-empresa{
    padding: 5%;

}
.copy{
    width: 50%;
    height: 50px;
    color: $white;
    float: left;
    text-align: center;
    margin: 0px;
}

.contenido__nosotros{
    width: $full-size/2;
}